a:hover {
    color: green;
}

h2.about-me {
    text-align: center;
}

p.text-color {
    text-align: center;
}

.carousel {
    height: 600px !important;
}

footer.page-footer {
    padding-top: 0px !important;
}

footer.row {
    margin-bottom: 0px !important;
}

.page-footer .footer-copyright {
    background-color: rgba(51, 51, 51, 0.00) !important;
}